@tailwind base;
@tailwind components;
@tailwind utilities;

.table-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #fff; /* Ensure the background is not transparent */
  z-index: 1; /* Ensure the header is above other content */
}
